<div class="col-md-12">
    <h3>
      Clients
    </h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td><a [routerLink]="[client.id, 'credit-analysis']">credit analysis</a></td>
        </tr>
      </tbody>
    </table>
  </div>