<div class="col-md-12">
	<h3>Credit Analysis</h3>
	<p class="font-weight-bold">{{client.name}} <label><a routerLink="/clients">clients</a></label></p>

	<form role="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
		<div class="form-group">
			<label for="criditLimit">Credit Limit</label>
			<input type="number" class="form-control" id="creditLimit" name="creditLimit" ngModel>
		</div>
		<div class="form-group">
			<label for="risk">Risk</label>
			<select class="form-control" id="risk" name="risk" [ngModel]="creditAnalysis.risk">
				<option *ngFor="let risk of risks" [ngValue]="risk">{{risk.name}}</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<br />
<div class="col-md-12">
		<h3>Last Analyzes</h3>
	    <table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Credit Limit</th>
					<th>Risk</th>
					<th>Interest Rate</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let analyze of client.creditAnalysis">
					<td>{{analyze.id}}</td>
					<td>{{analyze.creditLimit}}</td>
					<td>{{analyze.risk.name}}</td>
					<td>{{analyze.interestRate}}</td>
					<td>{{analyze.creationDate | date: 'MM/dd/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
</div>
